AuditLog.txt
LastDynamicMission.txt
Manual/
Crashes/
ModifiedManuals/
output_log.txt
output_log_2.txt
records.xml
TwitchPlaysShared/
TwitchPlaysUsers.xml
TwitchPlaysStats.json
TwitchPlaysLastClaimed.json
playerSettings.xml