AuditLog.txt
LastDynamicMission.txt
Manual/
Crashes/
ModifiedManuals/
output_log.txt
output_log_2.txt
records.xml
TwitchPlaysShared/
TwitchPlaysStats.json
TwitchPlaysLastClaimed.json
playerSettings.xml
modSettings.xml
Modsettings/
TwitchPlaysUsers.xml
modSelectorConfig.json
stats.xml
TwitchPlaysUsers.xml
stats.xml
TwitchPlays/Previous Build/Assembly-CSharp.dll
TwitchPlays/Previous Build/mod.bundle
TwitchPlays/Previous Build/TwitchPlaysAssembly.dll